*{
    margin: 0;
    padding: 0;
}

:root{
    --dk-font-color: #1698AC;
    --it--font-color: #FFFFFF;
}

body{
    font-family: laila;
    margin: 0;
    background: url(../image/Прототип.png);
    padding: 50px;
}

.fl{
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;

}

.logo-box,
.nav-box{
    flex: 1;
}

.nav-list{
    list-style: none;
    gap: 15px;
    text-decoration: none;
    
}
.nav-link1{
    color: var(--dk-font-color);
    text-decoration: none;
}

.nav-link{
    white-space: nowrap;
}

.logo-text,
.nav-link{
    color: var(--it--font-color);
    text-decoration: none;
}

.logo-text{
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: -40px;
    color: var(--dk-font-color);
    
}

.nav-item{
    border: 2px solid var(--dk-font-color);
    border-radius: 20px;
    padding: 2px 28px;
    flex: 1;
    text-align: center;
    
}

.nav-item:hover{
    border: 2px solid var(--it--font-color);
    background-color: var(--dk-font-color);
}

@font-face {
    font-family: Laila;
    src: url(../fonts/Laila-Bold.ttf);
}

@media (max-width: 768px){
    .nav-link,
    .nav-link1{
        font-size: 5px;
    }

    .nav-box{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .nav-link,
    .nav-link1{
        font-size: 15px;
    }

    .header{
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1400px){
    .nav-link,
    .nav-link1{
        font-size: 25px;
    }
}

@media (min-width: 1400px){
    .nav-link,
    .nav-link1{
        font-size: 35px;
    }
}

.autor-name{
    font-size: 70px;
    color: #1698AC;
    margin-top: 166px;
    -webkit-text-stroke: 1px var(--it--font-color);
}

.autor-about{
    font-size: 65px;
    color: #FFFFFF;
}

.autor-description{
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 40px;
    font-weight: 300;
}

.autor-link1{
    background-color: #1698AC;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px 53px;
    font-weight: 300;
}

.autor-link{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
}

.autor-link:hover{
    background-color: var(--dk-font-color);
    border: 1px solid var(--it--font-color);
}

.autor-link-box{
    margin-top: 90px;
}

.right-col{
    margin-top: 189px;
}