*{
    margin: 0;
    padding: 0;
}

:root{
    --dk-font-color: #1698AC;
    --it--font-color: #FFFFFF;
}

body{
    font-family: laila;
    margin: 0;
    background: url(../image/Прототип.png);
}

.fl{
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;

}

.logo-box,
.nav-box{
    flex: 1;
}

.nav-list{
    list-style: none;
    gap: 15px;
    
}

.logo-text,
.nav-link{
    color: var(--dk-font-color);
    text-decoration: none;
}

.logo-text{
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: -40px;
    
}

.nav-item{
    border: 2px solid var(--dk-font-color);
    border-radius: 20px;
    padding: 2px 28px;
    flex: 1;
    text-align: center;
    
}

.nav-item:hover{
    border: 2px solid var(--it--font-color);
    background-color: var(--dk-font-color);
}

@font-face {
    font-family: Laila;
    src: url(../fonts/Laila-Bold.ttf);
}