*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 22px 22px 22px 85px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 52px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
}
.reg-link{
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 25px;
}
.btn{
    background-color: #A0583C;
    padding: 9px;
    margin: 13px;
    border-radius: 7px;
    font-size: 12px;
    width: 75;
    height: 16;
    top: 10px;
    left: 31px;
    font-weight: bold;
    font-family: Poppins;
    display: inline-block;
}

.head-box{
    background-image: url(../image/BG\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 200px;
}
.banner-title,
.banner-sub-title{
    text-align: center;
    color: azure;
    font-family: Roboto;
    margin-bottom: 35px;
}
.banner-title{
    font-size: 72px;
    margin-top: 211px;
}
.banner-sub-title{
    font-size: 24px;
    margin-top: 6px;
}
.banner{
    padding-bottom: 90px;
}
.text-banner-box{
    text-align: center;
    
}
.text-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    list-style: none;
    font-size: 20px;
    padding: 10px 65px;
    background: linear-gradient(90deg,#A0583C,#C08267);
    padding-bottom: 15px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 15px;
    border-radius: 20px;
}
.sct{
    padding: 40px;
}
.sct-lt{
    background-color:  #FFFADA;
}
.divider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    margin-bottom: 67px;
}
.divider-title{
    white-space: nowrap;
    font-size: 25px;
    color: #C08267;
    margin-top: 67px;
}
.divider-line{
    background-color: #A0583C;
    width: 100%;
    height: 2px;
    margin-top: 67px;
}
.card-box{
    display: flex;
    gap: 41px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
.card{
    background-color: #C08267;
    border-radius: 20px;
    padding: 23px 21px;
    flex: 1;
}
.card-img{
    width: 100%;
    margin-bottom: 17px;
}
.card-title{
    margin-bottom: 11px;
}
.card-description{
    margin-bottom: 50px;
}
.order-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-order{
    color: aliceblue;
}
.card2{
    border-radius: 20px;
    padding: 10px 10px;
    flex: 1;
}
.card-img2{
    width: 100%;
    margin-bottom: 17px;
}
.card-box2{
    display: flex;
    gap: 41px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}